@font-face {
	font-family: "Amalta";
    font-style: normal;
    font-display: swap;
	font-weight: 400;
    src: url("Amalta.ttf") format("truetype");
}
@font-face {
	font-family: "Harbour";
    font-style: normal;
    font-display: swap;
	font-weight: 400;
    src: url("HarbourRegular.ttf") format("truetype");
}
@font-face {
	font-family: "Harbour";
    font-style: normal;
    font-display: swap;
	font-weight: 800;
    src: url("HarbourBold.ttf") format("truetype");
}
@font-face {
	font-family: "Harbour";
    font-style: normal;
    font-display: swap;
	font-weight: 200;
    src: url("HarbourLight.ttf") format("truetype");
}
@font-face {
	font-family: "ITCSerifGothic";
    font-style: normal;
    font-display: swap;
	font-weight: 400;
    src: url("itc-serif-gothic-lt-regular.ttf") format("truetype");
}
@font-face {
	font-family: "ITCSerifGothic";
    font-style: normal;
    font-display: swap;
	font-weight: 600;
    src: url("itc-serif-gothic-lt-bold.ttf") format("truetype");
}
@font-face {
	font-family: "ITCSerifGothic";
    font-style: normal;
    font-display: swap;
	font-weight: 700;
    src: url("itc-serif-gothic-lt-heavy.ttf") format("truetype");
}

@font-face {
	font-family: "ITCSerifGothic";
    font-style: normal;
    font-display: swap;
	font-weight: 200;
    src: url("itc-serif-gothic-lt-light.ttf") format("truetype");
}