:root {
    --primary-color: #6320ee;
    --background-color: #f8f0fb;
    --background-color-semitransparent: rgba(248, 240, 251, 0.8);
    --alternative-color: #d81e5b;
    --text-color: #211a1d;
    --tertiary-color: #b8d8d8;
    --skull: #e3dac9;
    --raven: #141a16;
    --raven-semitransparent: rgba(20, 26, 22, 0.9);
}
