:root {
    --primary-color: #661f54;
    --background-color: #f8f0fb;
    --background-color-semitransparent: rgba(248, 240, 251, 0.8);
    --alternative-color: #db0c5c;
    --text-color: #211a1d;
    --tertiary-color: #c179b9;
    --skull: #e3dac9;
    --raven: #151a14;
    --raven-semitransparent: rgba(20, 26, 22, 0.9);
}
