
body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-text);
}

.underline-text {
	display: inline-block;
	line-height: 0.85;
	text-shadow:
		2px 2px var(--background-color),
		2px -2px var(--background-color),
		-2px 2px var(--background-color),
		-2px -2px var(--background-color);
}

.ordered-list {
	--number-list: 3rem;
	counter-reset: list;
	display: flex;
	flex-wrap: wrap;
}
.ordered-list li {
	counter-increment: list;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-left: var(--number-list);
	position: relative;
	width: 100%;
}

.ordered-list li::before {
	content: counter(list);
	left: calc(var(--number-list) * -1);
	line-height: 0.7;
	font-family: var(--font-title);
	font-size: calc(var(--number-list) - 1rem);
	font-weight: bold;
	margin: auto 0.5rem;
	opacity: 0.7;
	position: absolute;
	text-align: right;
	width: calc(var(--number-list) - 1rem);
}