
body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-text);
}

.underline-text {
	display: inline-block;
	line-height: 0.85;
	text-shadow:
		2px 2px var(--background-color),
		2px -2px var(--background-color),
		-2px 2px var(--background-color),
		-2px -2px var(--background-color);
}

@media (max-width: 640px) {
	.video-container {
		width: 280px;
		height: 156px;
	}
}
