:root {
  --header-height: 200px;
  --header-height-fixed: 75px;
  --transition-fast: 0.2s;
  --animation-menu-time: 0.3s;
}
@media (max-width: 700px) {
  :root {
    --header-height-fixed: 70px;
  }
}